<div class="row dcui-row1">
    <h1> PREPARE DATASET{{test1}}</h1>
</div>
<div class="row dcui-row2">
    <hr>
    <div class="col-md-12">
        <p> Please review the action items below.Suggested actions are already selected.</p>
    </div>
</div>
<div class="row dcui-row3">
    <div class="col-md-11">
        <p>SELECTED DATASET</p>
    </div>
    <div class="col-md-1">
        <a href="#">Change</a>
    </div>
</div>
<div class="dcui-row">
   
    <table class="table">
        <tr>
            <td class="col-md-9 dcui-col1">
                CustAnon-UnexpectedValues
            </td>
            <td class="col-md-1">
                <p>Uploaded</p>
                <p>3/18/2015</p>
            </td>
            <td class="col-md-1">
                <p>Rows</p>
                <p>25000</p>
            </td>
            <td class="col-md-1">
                <p>Columns</p>
                <p>9</p>
            </td>
        </tr>
    </table>
</div>
<div class="row dcui-row4">
    <hr>
    <p><a href="">Hide Advanced Options.</a></p>
</div>
<div class="row dcui-row5">
    
    <table class="table">
        <tr>
            <td class="col-md-3">Customer
            </td>
            <td class="col-md-2 dcui-col2">
                <p>Unique values on col1</p>
                <p>Do you want to drop.</p>
                <p class="link"><a href="">View Example Rows.</a></p>
            </td>
            <td class="dcui-col3">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">DROP COLUMN
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                </ul>
            </td>
        </tr>
        
        <tr>
            <td class="col-md-3">Revenue</td>
            <td class="col-md-2 dcui-col2">
                <p>Unexpected value from col9</p>
                <p>Do you want to delete them?or specify how to transform.</p>
                <p class="link"><a href="">View Example Rows.</a></p>
            </td>
            <td class="dcui-col3">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">DELETE ROWS
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                </ul>
            </td>
        </tr>
    </table>
</div>