 <div class="dcui-header">
          <nav class="navbar dcui-header">
		      <div class="container-fluid">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header dcui-navbar-text">
		          <button type="button" class="navbar-toggle collapsed dcui-collapse" data-toggle="collapse" data-target="#collapsable-content">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar dcui-icon-bar "></span>
		            <span class="icon-bar dcui-icon-bar "></span>
		            <span class="icon-bar dcui-icon-bar "></span>
		          </button>
		          <a class="navbar-brand dcui-navbar-brand dcui-hover" href="#"><span class="dcui-beyond">Beyond</span><span class="dcui-text">core</span></a>
		        </div>

		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse dcui-navbar-text" id="collapsable-content">
		          <ul class="nav navbar-nav">
		            <li><a href="#" class="dcui-text dcui-hover">stories</a></li>
		            <li><a href="#" class="dcui-text dcui-hover">data sets</a></li>
		            <li><a href="#" class="dcui-text dcui-hover">analysis status</a></li>
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
		            <li><a href="#" class="dcui-hover"><span class="glyphicon glyphicon-log-out dcui-glyphicon"></span><span class="dcui-text">logout</span></a></li>
		          </ul>
		        </div><!-- /.navbar-collapse -->
		      </div><!-- /.container-fluid -->
		    </nav>
 </div>