<div>
	<h1 class="dcui-welcome-text">Hello<br/>BeyondCore User</h1>
	<hr class="dcui-colorgraph"/>
	<input id="browse" type="file" accept="text/xml" style="display:none" ng-model="browse">
	<div class="dcui-welcome-browse">
    	<input id="input" class="dcui-input" type="text" value="" placeholder="Please Upload Your XML">
    	<a class="btn btn-primary" onclick="document.getElementById('browse').click()">Browse</a>
	</div>
	<div class="dcui-welcome-btn text-center">
    	<button type="button" onclick="validateForm()" class="btn btn-primary text-center dcui-welcome-btn1">Load XML Data</button>
	</div>
</div>